@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body {
    @apply h-full overflow-hidden;
    background-image: radial-gradient(#1c71d8 1%, transparent 5%);
	background-size: 28px 28px;
	background-position: 0 0, 4px 4px;
	background-repeat: repeat;
}

.mainimage {
    height: 450px;
}